{% extends "base.html" %}


{% block login %}
    {% if login %}
        <p>{{login}}</p>
    {% endif %}
{% endblock %}


{% block main %}
<div class="mb-3 add_new">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="formFileMultiple" class="form-label">Выбирите файлы для загрузки</label>
        <input class="form-control" type="file" id="formFileMultiple" name="file" multiple>
        <button type="submit" class="btn btn-secondary" id="add">Добавить</button>
    </form>
</div>
    <div class="image">
        {% for i in my_add_new_image %}
            <div class="images" style="width: 49%;">
                <div class="div-img-top">
                    <img src="{{ i.url_image.url }}" class="img-responsive" id="div-img-top"/>
                </div>
                <div class="form1">
                <form method="POST" action="{% url 'add_mem_admin' %}">
                    {% csrf_token %}
                    <input type="hidden" name="url_image" value="{{i.url_image.url}}">
                    <input type="hidden" name="mem_id" value="{{i.id}}">
                    <input type="text" id="inp_tag" name="tags" maxlength="50" class="form-control" placeholder="Введи теги через пробел с хештегом">
                    <input type="submit" id="button-add" class="btn btn-outline-secondary"  value="Добавить">
                </form>
                </div>
                <br>

                <div class="form2">
                <form method="GET" action="{% url 'delete_new' %}">
                    {% csrf_token %}
                    <input type="hidden" name="mem_id" value="{{i.id}}">
                    <input type="submit" id="del_tag" class="btn btn-dark" value="Удалить">
                </form>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}





