<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memasik</title>
    {% load static %}
    <!-- CSS only -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/mem2.css' %}" type="text/css">



</head>
<body>

<div class="h">

    {% block header%}
        <div id="login_user">
            {{login}}
        </div>
        <div id="name-site">
            <p>MeM's</p>
        </div>
        <div class="exit">
            <form method="GET" action="{% url 'logout' %}" class="row g-3 " novalidate>
                {% csrf_token %}
                <button type="submit" class="btn btn-dark" >Выйти</button>
                <br>
            </form>
        </div>


    {% endblock %}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 left">
            {% block left %}
        <div class="block-button ">
            {% if login %}
                <br>
                <a href="{% url 'login_user' %}" class="btn btn-outline-info style-button">Назад</a>
                <hr>
                <a href="{% url 'gallery' %}" class="btn btn-outline-info style-button">Мои мемы</a>
                <hr>

                {% if role == "admin" %}
                    <a href="{% url 'add_admin' %}" class="btn btn-outline-info style-button">Добавить админа</a>
                    <hr>
                {% endif %}


            {% endif %}

            {% endblock %}

            {% block add_new %}
                {% if login %}
                    <a href="{% url 'upload' %}"  class="btn btn-outline-info style-button">Добавить новые</a>
                    <hr>
                    <div class="dropdown">
                        <form method="GET" action="{% url 'select_category' %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-info dropbtn" type="submit">OK</button>
                            <select class="btn btn-outline-info sel" name="tags">
                                <div class="dropdown-content">
                                    <option selected>Категории</option>
                                    {% for i in tags %}
                                        {% if i.name_tag == '' %}
                                            <option>{{'Без категории'}}</option>
                                        {% else %}
                                            <option>{{i.name_tag}}</option>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </select>
                        </form>

                    </div>

                    <hr>
            {% endif %}
            {% endblock %}



        </div>


    </div>


    <div class="col-7">
      <div class="main">
          {% block main %}
            <div class="low allimages">
                {% for i in images %}
                    {% if forloop.last %}
                        <div class="images last-image" style="width: 49%;" image-data="{{i.date_mem}}">
                    {% else %}
                        <div class="images" style="width: 49%;">
                    {% endif %}
                        <div class="div-img-top">
                            <img src="{{ i.url_image.url }}" id="div-img-top">
                        </div>
                            <div class="img-body">
                                <h5 class="img-title">{{i.tags}}</h5>
                            </div>
                        </div>
                {% endfor %}
            </div>


            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


            <script type="text/javascript">
    $(document).ready(function(){

        /* Переменная-флаг для отслеживания того, происходит ли в данный момент ajax-запрос. В самом начале даем ей значение false, т.е. запрос не в процессе выполнения */
        var inProgress = false;

            $(window).scroll(function() {
                let lastImage = $('.last-image').attr('image-data')
                console.log(lastImage)
                let data = {
                    lastImage: lastImage
                }
                /* Если высота окна + высота прокрутки больше или равны высоте всего документа и ajax-запрос в настоящий момент не выполняется, то запускаем ajax-запрос */
                if($(window).scrollTop() + $(window).height() >= $(document).height() - 200 && !inProgress) {
                $('.images').removeClass('last-image')
                $('.images').removeAttr('image-data')
                $.ajax({
                    /* адрес файла-обработчика запроса */
                    url: '{% url "load-more-image" %}',
                    /* метод отправки данных */
                    method: 'POST',
                    /* данные, которые мы передаем в файл-обработчик */
                    data: data,
                    /* что нужно сделать до отправки запрса */
                    beforeSend: function() {
                    /* меняем значение флага на true, т.е. запрос сейчас в процессе выполнения */
                    inProgress = true;}
                    /* что нужно сделать по факту выполнения запроса */
                    }).done(function(data){


                    /* Если data не пуст  */
                    if (data) {
                    console.log('DATA: ',data)


                    $.each(data['data'], function(key, obj){
                    console.log(key, obj)
                    console.log(obj)
                    console.log(obj['last_image'])
                     if(obj['last_image']){
                        $('.allimages').append(
                            '<div class="images last-image" style="width: 49%;" image-data="' + obj['date_mem'] + '">' +
                            '<div class="div-img-top">'+
                            '<img src="media/' + obj['url_image'] + '" id="div-img-top">' +
                            '</div>'+
                            '<div class="img-body">' +
                            '<h5 class="img-title">' + obj['tags'] + '</h5>' +
                            '</div>'+
                            '</div>')
                            console.log(obj['url_image'] )
                     } else {
                       $('.allimages').append(
                            '<div class="images " style="width: 49%;">' +
                            '<div class="div-img-top">'+
                            '<img src="media/' + obj['url_image'] + '" id="div-img-top">' +
                            '</div>'+
                            '<div class="img-body">' +
                            '<h5 class="img-title">' + obj['tags'] + '</h5>' +
                            '</div>'+
                            '</div>')
                            console.log(obj['url_image'] )
                     }

                    })

                    /* По факту окончания запроса снова меняем значение флага на false */
                    inProgress = false;

                    }});
                }
            });
        });


</script>




          {% endblock %}
      </div>
    </div>


    <div class="col-3 right">
        {% block registration %}
        {% if login %}
            <div class="chat">
                <div contenteditable="false" class="all-massege" id="all-massege">
                    {% for i in message_list %}
                        {% if forloop.last %}
                            <div class="messages last-message" id="elem" data-login="{{login}}" data-message-id="{{i.id}}">
                        {% else %}
                            <div class="messages">
                        {% endif %}
                        {% if login == i.user.user_name %}
                            <span class="m-span mt-2 my-mesg">
                                <span class="span-message">{{i.massege}}</span><br>
                                <span class="context"><span id="user-name">{{i.user.user_name}}</span> • {{i.date_time_massege}}</span>
                            </span>
                            <br>
                            <br>
                            <br>
                        {% else %}
                            <div class="m-span mt-2">
                                <span class="span-message">{{i.massege}}</span><br>
                                <span class="context">{{i.user.user_name}} • {{i.date_time_massege}}</span>
                            </div>

                        {% endif %}
                            </div>

                    {% endfor %}
                </div>
                <div class="input-group mb-3">
                    <form method="POST" id="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="textarea">
                            <textarea type="text" autofocus cols="15" rows="1" name="message"  class="form-control message" placeholder="Введите сообщение" aria-label="Recipient's username with two button addons"></textarea>
                        </div>

                        <div id="send">
                            <button type="submit" class="btn btn-danger" id = 'send-message'>Send</button>
                        </div>
                    </form>
                </div>
            </div>

<script type="text/javascript">
    function show()
    {
        let mass = $('.last-message').data('messageId');

        console.log('mass: ', mass);
        data = {
            'mass': mass
        }
        console.log('data: ', data);

        console.log('Атрибут data-message-id: ', $('.last-message').attr('data-message-id'));

        console.log('Атрибут data-message-id: ',$('.last-message').data('messageId'));
        console.log('Атрибут data-login: ',$('.last-message').data('login'));

        $.ajax({
            method: "GET",
            dataType: "json",
            data: data,
            url: '{% url 'chat' %}',
            cache: false,

            success: function(data){
                console.log('Получение результата из вьюхи')
                console.log('data: ', data)
                let result = data['data']

                console.log('*****')
                console.log('Преобразованный атрибут data: ', result)
                if(result){
                    $.each(result, function(key, obj){
                    if(obj['massege']){
                        console.log(mass)
                        $('.last-message').data('messageId', obj['id'])
                        if($('.last-message').data('login') == obj['user']){
                        $('.all-massege').append(
                        '<div class="messages last-message" data-message-id="' + obj['id'] + '">'+
                        '<span class="m-span mt-2 my-mesg">' +
                        '<span class="span-message">' + obj['massege'] + '</span>'+
                        '</br>'+
                        '<span class="context">' + '<span id="user-name">' + obj['user']+ '</span>' + ' • ' +obj['date_time_massege'] + '</span>'+

                        '</span>'+
                        '</br>'+
                        '<br>' +
                        '<br>' +
                        '</div>')
                        }
                        else{
                        $('.all-massege').append(
                        '<div class="messages last-message" data-message-id="' + obj['id'] + '">'+
                        '<span class="m-span mt-2">' +
                        '<span class="span-message">' + obj['massege'] + '</span>'+
                        '</br>'+
                        '<span class="context">' + '<span id="user-name">' + obj['user']+ '</span>' + ' • ' +obj['date_time_massege'] + '</span>'+

                        '</span>'+
                        '</br>'+
                        '<br>' +
                        '<br>' +
                        '</div>')
                        }


                    }

                    })

                }

            }
        })
    }




    $(document).ready(function(){

        show();
        setInterval('show()',1000);

    });
    let objDiv = document.getElementById("all-massege");
    objDiv.scrollTop = objDiv.scrollHeight;


</script>


<script type="text/javascript">
        $(document).ready(function(){
            $("#form").submit(function(event) {

              event.preventDefault();

              var form_data = $(this).serialize();

              console.log('Данные формы ввода сообщения: ', form_data)
              $("#form")[0].reset();

              $.ajax({
                 method: "POST",
                 url: {% url 'chat' %},
                 data: form_data,
                 success: function(data) {
                    console.log(data)
                    let objDiv = document.getElementById("all-massege");
                    objDiv.scrollTop = objDiv.scrollHeight;
                 }

              });

            });
        });

</script>

        {% else %}
            <div class="end">
                 <form method="POST" action="{% url 'login_user' %}" class="row g-3" novalidate>
                        {% csrf_token %}
                        <br>
                        <br>
                        <br>
                        <input type="text" class="form-control" placeholder="Login" name="login">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                        <button type="submit" class="btn btn-secondary">Войти</button>
                        <a class="btn btn-secondary" href="{% url 'registration' %} ">Регистрация</a>
                    </form>
            </div>
        {% endif %}

        {% endblock %}


    </div>
  </div>
</div>



</body>
{% block context %}

{% endblock %}

</html>