{% extends "base.html" %}


{% block login %}
    {% if login %}
        <p>{{login}}</p>
    {% endif %}
{% endblock %}

{% block main %}
{% csrf_token %}
{% for index in gallery %}
<div class="test">
<div class="images" style="width: 49%;">
    <div class="div-img-top">
    <form method="POST" action="{% url 'delete_gallery' %}">

        <input type="hidden" name="mem_id" value="{{index.id}}">
        <img src="{{ index.url_image.url }}" class="img-responsive " id="div-img-top"/>
        <input class="btn btn-dark" type="submit" value="Удалить">
    </form>
</div>
</div>
</div>
{% endfor %}
{% endblock %}


