{% extends "base.html" %}

{% block registration %}

{% endblock %}

{% block main %}

{% for i in images %}
<div class="image">
    <form method="POST" action="{% url 'gallery' %}">

        <input type="hidden" name="mem_id" value="{{i.id}}">
        <img src="{{ i.url_image.url }}" class="img-responsive"/>
        <input type="submit" value="Add">
    </form>

</div>
{% endfor %}

{% endblock %}

{% block left %}
<br>
<br>
<br>
<a href="{% url 'gallery' %}" class="btn btn-primary btn-lm">Мои мемы</a><br>
<br>
<form method="POST" action="{% url 'logout' %}" class="row g-3" novalidate>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Выйти</button>
    <br>
</form>


<form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lm">Добавить новые</button>
    <br>
</form>
<br>
{% if role == "admin" %}
<a href="{% url 'add_new' %}" class="btn btn-primary btn-lm">Просмотреть добавленые другими пользователями</a><br>
<br>
<a href="#" class="btn btn-primary btn-lm">Добавить админа</a><br>
{% endif %}


{% endblock %}

