{% extends "base.html" %}

{% block left %}
{% endblock %}

{% block right %}
{% endblock %}



{% block main %}
<div class="registr">
    {{message}}
    <form method="POST" style="float: right" action="{% url 'registration' %}" class="row g-3" novalidate>
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Введите логин, минимум 4 символа" name="login" required minlength="4">
        <input type="password" class="form-control" placeholder="Введите пароль, минимум 6 символов" name="password" required minlength="6">
        <input type="date" class="form-control" placeholder="Введите дату рождения" name="date" required>
        <input type="email" class="form-control" placeholder="Введите Email" name="email" required>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a class="btn btn-primary btn-lm" href='http://127.0.0.1:8000'>Назад</a>
    </form>
</div>

{% endblock %}

